@page
@model Planeta_Kierowców.Pages.Zamówienia.ChangeModel
@{
    ViewData["Title"] = "Edit";
    @inject UserManager<ApplicationUser> UserManager;
}

<br />
<h2 class="text-info">Edytuj istniejące zlecenie</h2>
<br />

<div class="border-container" style="padding:30px;">
    <form method="post" asp-action="ImageUpload" enctype="multipart/form-data">
        <input type="hidden" asp-for="Zlecenia.ID_Zlecenie" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Zlecenia.Miejsce_odbioru"></label>
            </div>
            <div class="col-5">
                @Html.Display("Zlecenia.Miejsce_odbioru")
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Zlecenia.Czas_odbioru"></label>
            </div>
            <div class="col-5">
                @Html.Display("Zlecenia.Czas_odbioru")
            </div>
        </div>




        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Zlecenia.Miejsce_zdania"></label>
            </div>
            <div class="col-5">
                @Html.Display("Zlecenia.Miejsce_zdania")
            </div>
        </div>


        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Zlecenia.Czas_zdania"></label>
            </div>
            <div class="col-5">
                @Html.Display("Zlecenia.Czas_zdania")
            </div>
            <span asp-validation-for="Zlecenia.Czas_zdania" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Zlecenia.Status_zlecenia"></label>
            </div>
            <div class="col-5">
                @{String[] options = { "W realizacji", "Wykonane", "Rozliczone" };}
                <select asp-for="Zlecenia.Status_zlecenia" asp-items="@(new SelectList(options))">
                    <option>Zlecone</option>
                </select>
            </div>
            <span asp-validation-for="Zlecenia.Status_zlecenia" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label>Protokoły</label>
            </div>
            <div class="col-5">


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Protokół</label>
                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input class="form-control custom-file-input" type="file" name="file" />
                                <label class="custom-file-label">Przeglądaj...</label>
                            </div>
                        </div>

                    </div>



            </div>

        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Zlecenia.Kierowca_ID"></label>
            </div>
            <div class="col-5">
                @Html.Display("Zlecenia.Kierowca_ID")

            </div>

        </div>






        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Zatwierdź" class="btn btn-primary form-control" />
            </div>
            <div class="col-2">
                <a asp-page="YourIndex" class="btn btn-success form-control">Powrót</a>
            </div>
        </div>

    </form>
</div>

<script type="module">
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(fileName);
        })
    });
</script>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}