@page
@model Planeta_Kierowców.Pages.Zamówienia.IndexModel
@{
    ViewData["Title"] = "Index";
    @inject UserManager<ApplicationUser> UserManager;
}


<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">System zleceń</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Utwórz nowe</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.orders.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">

                        <th>
                            <label asp-for="orders.FirstOrDefault().ID_Zlecenie"></label>
                        </th>

                        <th>
                            @*Html.DisplayNameFor(m=>m.orders.FirstOrDefault().Author)*@
                            <label asp-for="orders.FirstOrDefault().Miejsce_odbioru"></label>
                        </th>

                        <th>
                            <label asp-for="orders.FirstOrDefault().Miejsce_zdania"></label>
                        </th>

                        <th>
                            <label>Kierowca</label>
                        </th>

                        <th></th>

                    </tr>
                    @foreach (var item in Model.orders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.ID_Zlecenie)
                            </td>

                            <td>
                                @Html.DisplayFor(m => item.Miejsce_odbioru)
                            </td>

                            <td>
                                @Html.DisplayFor(m => item.Miejsce_zdania)
                            </td>
                            <td>
                                @{var DisplayName = UserManager.FindByIdAsync(item.Kierowca_ID).Result;}
                                @DisplayName
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.ID_Zlecenie" onclick="return confirm('Czy na pewno chcesz usunąć to zlecenie?')" class="btn btn-danger btn-sm">Usuń</button>
                                <a asp-page="Edit" asp-route-id="@item.ID_Zlecenie" class="btn btn-success btn-sm text-white">Edytuj</a>
                                <a asp-page="Details" asp-route-id="@item.ID_Zlecenie" class="btn btn-success btn-sm text-white">Szczegóły</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Brak istniejących zleceń w systemie.</p>
            }
        </form>
    </div>
</div>

