@page
@model Planeta_Kierowców.Pages.Zamówienia.YourIndexModel
@{
    ViewData["Title"] = "Index";
    @inject UserManager<ApplicationUser> UserManager;

}


<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">System zleceń</h2>
    </div>


    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.orders.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">

                        <th>
                            <label asp-for="orders.FirstOrDefault().ID_Zlecenie"></label>
                        </th>

                        <th>
                            @*Html.DisplayNameFor(m=>m.orders.FirstOrDefault().Author)*@
                            <label asp-for="orders.FirstOrDefault().Miejsce_odbioru"></label>
                        </th>

                        <th>
                            <label asp-for="orders.FirstOrDefault().Miejsce_zdania"></label>
                        </th>
                                          

                                            


                        <th>
                            <label>Nazwa Koordynatora</label>
                        </th>


                        <th></th>

                    </tr>
                    @foreach (var item in Model.orders)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.ID_Zlecenie)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.Miejsce_odbioru)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.Miejsce_zdania)
                    </td>



                    <td>
                        @{var DisplayName2 = UserManager.FindByIdAsync(item.Koordynator_ID).Result;}
                        @DisplayName2

                    </td>



                    <td>

                        <a asp-page="Details" asp-route-id="@item.ID_Zlecenie" class="btn btn-success btn-sm text-white">Szczegóły</a>

                        <a asp-page="Change" asp-route-id="@item.ID_Zlecenie" class="btn btn-success btn-sm text-white">Zmień status zlecenia</a>
                    </td>
                </tr>
                    }
                </table>
            }
            else
            {
                <p>Brak istniejących zleceń w systemie.</p>
            }
        </form>
    </div>
</div>

